<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= restaurant.cuisine %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= restaurant.description %>
  </p>

</div>
